<header class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/img/logo.png" alt="ProClean Solutions" height="50">
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" routerLink="/">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" href="/nosotros">Nosotros</a></li>
          <li class="nav-item"><a class="nav-link" href="/servicios">Servicios</a></li>
          <li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
        </ul>
      </div>
    </div>
  </header>
  