<app-navbar></app-navbar>

<div class="background">
  <div class="carousel-container">
  <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/imagenes/slide1.jpg" class="d-block w-100 small-carousel-img" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1 style="color: black; background-color: rgb(186, 186, 245); border-radius: 55px;">Limpieza Integral, Soluciones Totales</h1>
            <p style="color: rgb(255, 255, 255); font-size: 18px;"> <strong>Desde oficinas hasta vehículos, garantizamos un espacio limpio y saludable donde quiera que estés.</strong></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/imagenes/slide2.jpg" class="d-block w-100 small-carousel-img" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1 style="color: black; background-color: rgb(186, 186, 245); border-radius: 55px;">Tu Espacio, Nuestro Compromiso</h1>
            <p style="color: rgb(255, 255, 255); font-size: 18px;"><strong>Ofrecemos servicios de limpieza personalizados para hogares, oficinas y más, cuidando cada rincón como si fuera nuestro.</strong></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/imagenes/slide3.jpg" class="d-block w-100 small-carousel-img" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1 style="color: black; background-color: rgb(186, 186, 245); border-radius: 55px;"><strong>Calidad en Limpieza, Excelencia en Detalles</strong></h1>
            <p style="color: rgb(0, 0, 0); font-size: 18px;"><strong>Edificios, casas o coches: nuestro equipo transforma cualquier lugar con dedicación y precisión.</strong></p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <hr style="border: 2px solid rgb(0, 0, 0);">
 
  <section id="quienes-somos">
      <div class="container">
          <div class="text-section">
              <br><br>
              <h2>¿Quiénes somos?</h2>
              <hr style="border: 1px solid rgb(0, 0, 0); width: 250px;">
              <p style="font-size: 17px; padding-top: 10%;">
                  En <strong>OMNILIMPIO</strong>, somos un equipo apasionado de limpieza comprometida que se dedicacon 
                  la <em> satisfacción total de nuestros clientes </em>y la excelencia en nuestros servicios. 
                  Con una experiencia de más de 5 años en el sector, buscamos consolidarnos como líderes en 
                  el mercado gracias a nuestra dedicación, profesionalismo y enfoque en la calidad
              </p>
          </div>
          <div class="image-section">
              <img src="https://limpiezasjuncaril.com/wp-content/uploads/2021/07/limpieza-a-fondo-despues-de-las-vacaciones.jpg" alt="Limpieza">
          </div>
      </div>
  </section>
  <hr style="border: 2px solid rgb(0, 0, 0);">
  <div class="sectimg2div" style="background-color: rgb(251, 251, 251);">
    <h1>Nuestros servicios</h1> 
  <section class="section2">
    <img class="sectimg2" src="https://img.freepik.com/foto-gratis/oficina-limpieza-hombres-tiro-completo_23-2149345516.jpg" alt="">
    <img class="sectimg2" src="https://img.freepik.com/foto-gratis/persona-que-encarga-limpieza-oficinas_23-2149374450.jpg" alt="">
    <img class="sectimg2" src="https://st4.depositphotos.com/2249091/21963/i/450/depositphotos_219637290-stock-photo-close-cleaning-specialist-yellow-gloves.jpg" alt="">
    <img class="sectimg2" src="https://img.freepik.com/foto-gratis/composicion-flat-lay-productos-limpieza-copyspace_23-2148133453.jpg" alt="">
  </section>
  <p style="font-size: 20px;"><strong><em>Contamos con esto y mucho más!</em></strong></p>
</div>
  <hr style="border: 2px solid rgb(0, 0, 0);">


  
  <div class="tarjeta-container">
    <div class="book">
      <p style="padding-left: 10%;">Un servicio 100% enfocado en solucionar la limpieza minuciosa de las diferentes áreas de la oficina.</p>
      <div class="cover">
        <p style="color: white;">Limpieza de oficina</p>  
      </div>
    </div>
    <div class="book">
      <p>Este servicio es a domicilio desde la comodidad de su hogar u oficina. Contamos con la maquinaria para poder dar un trabajo de calidad.</p>
      <div class="cover">
        <p style="color: white;">Limpieza de vehículos</p>
      </div>
    </div>
    <div class="book">
      <p>Somos especialistas en la limpieza mantenimiento de sus instalaciones en edificios y condominios.</p>
      <div class="cover">
        <p style="color: white;">Limpieza edificios, condominios</p>
      </div>
    </div>
    <div class="book">
      <p>Nos enfocamos en dejar tus ventanas impecables y relucientes, transformando cada espacio en un entorno luminoso.</p>
      <div class="cover">
        <p style="color: white;">Limpieza de vidrios</p>
      </div>
    </div>
    <div class="book">
      <p>Este servicio está enfocado para constructores que al terminar sus obras necesitan que se deje los
        espacios impecables.</p>
      <div class="cover">
        <p style="color: white;">Limpieza remodelaciones</p>
      </div>
    </div>
    <div class="book">
      <p>Este servicio se realiza con productos de la más alta calidad y la maquinaria necesaria para poder garantizar el servicio.</p>
      <div class="cover">
        <p style="color: white;">Lavado de muebles</p>
      </div>
    </div>
    <div class="book">
      <p>Proporcionamos soluciones efectivas para eliminar gérmenes y mantener espacios limpios y seguros. Tu seguridad es nuestra prioridad.</p>
      <div class="cover">
        <p style="color: white;">Servicio de desinfección</p>
      </div>
    </div>
  </div>
<br>

</div>

<app-footer></app-footer>